body {
	background-color: #ddd;
	margin: 0px;
	padding: 0px;
	/* Amount of negative space around the inside of the body */
	padding-bottom: 10px;
}

/***************************************************************************
common setting*/
a {
	text-decoration: underline;
}

a {
	color: inherit;
	text-decoration: underline;
}

strong {
	font-weight: normal;
}

b {
	font-weight: normal;
}

#content #text p {
	text-indent: 36px;
}

#route_content .route_content_place {
	font-size: 24px;
}

#route_content .route_content_place img {
	border: thin solid #999;
	height: 100px;
	width: 100px;
	margin-bottom: 4px;
}
/*
** common setting
*/
.inline_class{
	display: inline-block;
	margin-left:5px;
}
.hide_class {
	display: none;
}
/* for mai menu
*/
#main_menu{
	margin: 5px 0;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	padding: 5px;
	-webkit-border-radius: 8px;	
}
#main_menu .menu_item {
	display: inline-block;
	font-family: Helvetica;
	font-size: 20px;
	color: grey;
}
#main_menu .menu_item_sel {
	font-size: 20px;
	color: black;
}

/* 
** for sub menu
*/
#sub_menu{
	margin : 5px 0px;	
}
#sub_menu .menu_item_sel {
	 border-bottom-style:solid;
	  border-bottom-color:rgb(20, 68, 101);
	  border-width: 2px;
}

#clock_tilte{
	text-align: center;	
	font-size: 20px;
}


/*表单*/
tr th {
	background-color: DimGray;
}

tr td.col_1 {
	background-color: DimGray;
	text-align:right;
}
tr td {
	text-align: left; //
	line-height: 25px; //
	vertical-align: middle;
}

/*.dotline {
	border-width: 1px;
	border-style: dashed;
}
*/

/*title背景
 */
#head_bg{
	background-color: rgb(20, 68, 101);	
}

.container {
	margin: 0 auto;
	width: 850px;
}

#header {
	text-align: left;
	font-size: 42px;
	padding: 20px 0;
}
#logout{
	margin-top:-40px;
	padding-bottom:20px;
	text-align: right;	
	color:white;
}
/*********************for content*************************************/
#sub_menu .menu_item {
	display: inline-block;
}
#main {
	margin-left: 0px;
	width =700px;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	padding: 5px;
	-webkit-border-radius: 8px;
	
}

#sel_rings_cancel {
	margin-left: 10px;
}

.item .clock_room_num,.item .clock_name,.item .clock_time,.item .clock_dayofweek,.item .clock_enable,.item .clock_ring,.item .clock_vebase,#sel_rings_ok,#sel_rings_cancel
	{
	display: inline-block;
}

.item .clock_room_num {
	font-size: 40px;
}

.item .clock_time {
	font-size: 48px;
}

/***************************************************************************
my theme*/
.toolbar {
	background-color: #ccc;
	text-shadow: 0px 1px 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc),
		to(#999) );
	height: 50px;
	margin: 0px;
	margin-bottom: 5px;
}

.toolbar h1,h2 {
	margin: 5px;
	padding: 0;
	text-align: left;
	line-height: 50px;
}

.toolbar h1 a {
	background-color: #ccc;
	border-bottom: 1px solid #666;
	color: #222;
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
}

.toolbar h1 a {
	text-shadow: 0px 1px 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc),
		to(#999) );
}

#home .items,#content .items,#scenicSpots .items {
	margin: 5px;
}

/***************************************************************************
home page*/
#progress {
	-webkit-border-radius: 10px;
	background-color: rgba(0, 0, 0, .7);
	color: white;
	font-size: 18px;
	font-weight: bold;
	height: 100px;
	left: 50%;
	line-height: 100px;
	margin: 0 auto auto -100px;
	position: fixed;
	text-align: center;
	top: 120px;
	width: 250px;
}

/****************************************************************************
for the province list*/
.items {
	margin-left: auto;
	margin-right: auto;
}

#area {
	text-align: center;
}

#area .item {
	display: inline-block;
	width: 135px;
	height: 150px;
	margin-left: 5px;
	margin-bottom: 5px;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	padding: 5px;
	-webkit-border-radius: 10px;
}

#area .item a img {
	width: 135px;
	height: 120px;
}

#area .item a .inf {
	text-align: center;
}

/***************************************************************************
for the tourist track*/
#scenicSpots .itemsbar {
	width: 100px;
	margin-right: 0px;
	margin-left: auto;
	text-align: center;
	padding-right: 10px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	background-color: #FFFFFF;
	border: 2px solid #999999;
	-webkit-border-radius: 5px;
}

#scenicSpots .item {
	clear: both;
	height: 120px;
	background-color: #FFFFFF;
	padding: 5px;
	-webkit-border-radius: 10px;
	border: 2px solid #999999;
	margin-top: 2px;
}

#scenicSpots .item  .roomNum {
	position: relative;
	top: 10px;
	left: 10px;
	float: left;
	width: 120px;
	height: 100px;
}

#scenicSpots .item  .titile,#scenicSpots .item  .dayofweek {
	position: relative;
	height: 25px;
	margin-left: 150px;
	height: 40px;
	line-height: 40px;
}

#scenicSpots .item  .time {
	position: relative;
	height: 80px;
	margin-left: 150px;
	height: 40px;
	line-height: 40px;
}

#scenicSpots .item  .delete,#scenicSpots .item  .update {
	
}



