#pb-aside {
		width: 200px;
		padding: 22px 18px;
		float: right;
		display: block;
		margin-left: 30px;
		background: #F8F8F8;
		margin-bottom: 10px;
		bottom: 30px;
	}
	#post-select , #privacy-select {
		border: 1px solid #bbb;
		padding: 5px;
		font-size: 14px;
		white-space: pre;
		width: 148px;
	}
	#privacy-select{
		width: 198px;
	}
	#separator {
		display: block;
		border-top: 1px solid #E2E6E8;
		border-width: 1px 0;
		border-bottom: 1px solid #FEFFFE;
		margin: 15px 0;
		border-style: inset;
	}
	#post-tag {
		border: 1px solid #bbb;
		width: 188px;
		height: 90px;
		padding: 5px;
		overflow: hidden;
	}
	#tag-input {
		padding: 0;
		margin: 0;
		border: 0;
		width: 188px;
		outline: none;
	}
	#post-holder {
		display: block;
		margin-top: 0;
	}
	
	/*style of main aside-->*/ 
	#aside {
		float: right;
		/*width: 250px;*/
		display: block;
		background: #F4F7FA; 
		/*margin-right: 30px;*/
		margin-left: 20px;
	}
	#aside ,#aside a{
		color: #666;
	}
	.userstats {
		margin: 0;
		font-size: 14px;
		margin-bottom: 5px;
		display: block;
		list-style: none;
		padding: 0;
		overflow: hidden;
	}
	.dongtai {
		background: #F4F7FA url(../images/pushservice/home1449.png) no-repeat 2px 3px;
		background-image: url(../images/pushservice/home_ie6.png);
		position: relative;
		top: -2px;
		padding-top: 4px;
		height: 36px;
		display: list-item;
		
	}
	.userstats li {
		padding: 0 10px;
		height: 36px;
		line-height: 34px;
		float: right;
		clear: right;
		width: 230px;
		position: relative;
		display: list-item;
	}
	.userstats li a{
		display: block;
		padding-left: 31px;
		height: 34px;
		line-height: 34px;
		overflow: hidden;
		
	}
	.feed-filter {
		clear: both;
		padding-left: 10px;
		display: block;
		margin-top: 5px;
		line-height: 24px;
	}
	.sidebox {
		clear: both;
		padding: 0 20px 0 22px;
		display: block;
	}
	.explore-link {
		display: block;
		padding-left: 18px;
		line-height: 20px;
		padding-bottom: 5px;
		font-size: 12px;
	}
	.side-special-link {
		line-height: 32px;
	}
	.following-count a {
		background-position: -494px -39px;
	}
	#tag-holder {
		font-size: 12px;
	}