tr td{
    text-align:left;//水平居中
    line-height: 25px;//行高  
    vertical-align:left；//垂直居中
    	border-style:dashed;
    	margin-left:10px;
}
tr td.col_1{
    text-align:right;//水平居中
    line-height: 25px;//行高  
    vertical-align:right；//垂直居中
    	border-style:dashed;
    	padding-right:10px;
    	background-color:DimGray;
}
