tr td{
    text-align:left;//ˮƽ����
    line-height: 25px;//�и�  
    vertical-align:left��//��ֱ����
    	border-style:dashed;
    	margin-left:10px;
}
tr td.col_1{
    text-align:right;//ˮƽ����
    line-height: 25px;//�и�  
    vertical-align:right��//��ֱ����
    	border-style:dashed;
    	padding-right:10px;
    	background-color:DimGray;
}


#sel_rings_cancel {
	margin-left: 10px;
}