 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
HTML {
	HEIGHT: 100%
}
BODY {
	HEIGHT: 100%
}
BODY {
	BACKGROUND: url(../../dev/img/bg_page.jpg) repeat-x center top
}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Tahoma, "宋体"
}
TEXTAREA {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Tahoma, "宋体"
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Tahoma, "宋体"
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Tahoma, "宋体"
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Tahoma, "宋体"
}
DIV {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Tahoma, "宋体"
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Tahoma, "宋体"
}
LABEL {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Tahoma, "宋体"
}
A {
	COLOR: #19276b; TEXT-DECORATION: none
}
A:hover {
	COLOR: #7598dc; TEXT-DECORATION: none
}
.clear {
	CLEAR: both; OVERFLOW: hidden; WIDTH: 0px; HEIGHT: 0px
}
#LoginContainer {
	Z-INDEX: 100; LEFT: 50%; MARGIN: -182px 0px 0px -265px; WIDTH: 539px; POSITION: absolute; TOP: 50%; HEIGHT: 289px
}
.loginBgImage {
	FLOAT: left
}
#LoginMain {
	BACKGROUND: url(../../dev/img/login_bg_center.gif) repeat-x center center; FLOAT: left; MARGIN-BOTTOM: 5px; WIDTH: 501px; HEIGHT: 289px
}
#LoginLogo {
	BACKGROUND: url(../../dev/img/login_separate_line.gif) no-repeat right center; FLOAT: left; WIDTH: 161px; HEIGHT: 289px; TEXT-ALIGN: right
}
#LoginFormContainer {
	FLOAT: left; WIDTH: 340px; HEIGHT: 289px
}
#LoginForm {
	MARGIN: 60px 25px 0px 0px
}
#LoginFormContainer P {
	MARGIN: 11px 0px
}
#LoginFormContainer P LABEL {
	PADDING-RIGHT: 10px; DISPLAY: block; FONT-SIZE: 14px; FLOAT: left; WIDTH: 92px; COLOR: #668888; LINE-HEIGHT: 24px; PADDING-TOP: 5px; TEXT-ALIGN: right; font-wight: weight
}
#LoginFormContainer .TxtInput {
	BORDER-RIGHT: #bcbcbc 1px solid; BORDER-TOP: #bcbcbc 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../../dev/img/login_input.gif) repeat-x; BORDER-LEFT: #bcbcbc 1px solid; WIDTH: 200px; COLOR: #41697e; LINE-HEIGHT: 30px; BORDER-BOTTOM: #bcbcbc 1px solid; HEIGHT: 30px
}
#LoginFormContainer .select {
	BORDER-RIGHT: #bcbcbc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #bcbcbc 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; BORDER-LEFT: #bcbcbc 1px solid; WIDTH: 120px; COLOR: #454545; LINE-HEIGHT: 14px; PADDING-TOP: 3px; BORDER-BOTTOM: #bcbcbc 1px solid; HEIGHT: 24px
}
#LoginFormContainer .loginSubmit {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../../dev/img/login_button.png) no-repeat center center; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 55px; COLOR: #ffffff; MARGIN-RIGHT: 160px; HEIGHT: 25px; BORDER-RIGHT-WIDTH: 0px
}
#LoginFormContainer .loginSubmit:hover {
	CURSOR: pointer; COLOR: #dddddd
}
#LoginFormContainer #ActionMessage {
	CLEAR: both; BORDER-RIGHT: #c7d5f1 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #c7d5f1 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 40px 0px 0px 30px; BORDER-LEFT: #c7d5f1 1px solid; WIDTH: 280px; PADDING-TOP: 3px; BORDER-BOTTOM: #c7d5f1 1px solid; TEXT-ALIGN: center
}
.GoodNews {
	BACKGROUND-COLOR: #52e070
}
.Warning {
	BACKGROUND-COLOR: #ff5000
}
.Error {
	BACKGROUND-COLOR: #ffff0f
}
#ForRememberMe {
	PADDING-LEFT: 5px
}
#ShadowCenter {
	BACKGROUND: url(../../dev/img/login_shadow.gif) repeat-x center center; FLOAT: left; WIDTH: 501px; HEIGHT: 110px
}
#Version {
	FONT-SIZE: 11px; BACKGROUND: url(../../dev/img/login_logo.png) no-repeat left bottom; FLOAT: right; MARGIN: 85px 20px 0px 0px; WIDTH: 130px; COLOR: #41697e; HEIGHT: 40px
}
