<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name />
 <context-param>
     <param-name>contextConfigLocation</param-name>
     <param-value>classpath:applicationContext.xml</param-value>
</context-param>
  <listener>         
   <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <filter>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>com.smit.web.LoginFilter</filter-class>
  	<init-param>
		<param-name>avoid-urls</param-name>
		<param-value>
		news.do,
		video.do,
		getVideoColumn.do,
		jcaptcha.do,
		login.do,
		logout.do,
		register.do,
		welcome.do,
		login_jsp.do,
		loginDevj.do,
		loginDev.do,
		login_admin.do,
		logout_admin.do,
		register_admin.do,
		login_adminj.do,
		loginDev.do,
		logoutDev.do,
		showBaseLog.do,
		showAddDetail.do,
		showAddBase.do,
		queryBase.do,
		queryDetail.do,
		logUpload.do,
		detailLog.do,
		showOrder.do,
		order.do,
		queryOrder.do,
		showAuth.do,
		testOption.do,
		showOption.do,
		showAddOption.do,
		showDelOption.do,
		queryOption.do,
		loginAuth.do,
		reqAuth.do,
		active.do,
		product.do,
		confirm.do,
		text.do,
		photo.do,
		link.do,
		music.do,
		vedio.do,
		main.do,
		push.do,showMain.do,
		analysis.do,
		publish.do,
		subscribe.do,
		subcallback.do,
		live.do,
		channel.do,
		winceAuth.do,
		winceConfirm.do,
		queryDevice.do,
		pageDevice.do,
		latestNews.do,
		latestVideos.do,
		publisher.do,
		subscriber.do,
		doc.do,
		about.do,
		pubsub_login.do,
		pubsub_regist.do,
		pubsub_active.do,
		subscribe.do,
		show_sub.do,
		show_pub.do,
		pubsub_logout.do,
		dashboard.do,
		update_publisher.do,
		pubsub_account.do,
		test.do,
		testCharts.do,
		customerAuth.do,
		clock.do,
		clock_del.do,
		clock_add.do,
		clock_update.do
		</param-value>		
	</init-param>  	
  </filter>
  
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>

  <filter>
  		<filter-name>sessionFilter</filter-name>
  		<filter-class>com.smit.web.SessionFilter</filter-class>
  		<init-param>
  			<param-name>allow_url</param-name>
  			<param-value>
  			subscribe.do,
			show_sub.do,
			show_pub.do,
			dashboard.do
		</param-value>
  		</init-param>
  </filter>
  <filter-mapping>
  		<filter-name>sessionFilter</filter-name>
  		<url-pattern>*.do</url-pattern>
  </filter-mapping>
  <error-page> 
  	<error-code>404</error-code> 
  	<location>/errorpage/404.jsp</location> 
  </error-page> 
    <error-page> 
  <error-code>500</error-code> 
  	<location>/errorpage/500.jsp</location> 
  </error-page> 
  

  
  <filter>
  		<filter-name>encoding</filter-name>
  		<filter-class>com.smit.web.content.actions.Encoding</filter-class>
  </filter>
  <filter-mapping>
  		<filter-name>encoding</filter-name>
  		<url-pattern>/*</url-pattern>
  </filter-mapping>
 

  <welcome-file-list>
    <welcome-file>/WEB-INF/sys/pushService/login.jsp</welcome-file>
    <welcome-file>/WEB-INF/sys/index.html</welcome-file>
  </welcome-file-list>
  
</web-app>

