<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/aop
    					http://www.springframework.org/schema/aop/spring-aop.xsd
    					http://www.springframework.org/schema/tx 
    					http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- 内容业务组件 -->
	<bean name="/content" class="com.smit.web.content.actions.ContentAction">
		<property name="contentService" ref="contentService"></property>
		<property name="columnService" ref="columnService" />
		<property name="userService" ref="userService" />
	</bean>

	<bean id="contentDao" class="com.smit.dao.ContentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="contentService" class="com.smit.service.ContentServiceImpl">
		<property name="contentDao" ref="contentDao"></property>
	</bean>

	<!-- 上传业务组件 -->
	<bean name="/upload" class="com.smit.web.UploadAction">
		<property name="mediaService" ref="mediaService"></property>
	</bean>
	<bean id="mediaDao" class="com.smit.dao.MediaDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="mediaService" class="com.smit.service.MediaServiceImpl">
		<property name="mediaDao" ref="mediaDao"></property>
	</bean>
	
	<!-- user dao & service -->
	<bean id="userDao" class="com.smit.dao.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="userService" class="com.smit.service.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<!-- 个人用户登陆 -->
	<bean name="/login" class="com.smit.web.UserAction" scope="prototype">
		<property name="pushDataService" ref="pushDataService"></property>
		<property name="userService" ref="userService"></property>
	</bean>
	<bean name="/logout" class="com.smit.web.UserAction" scope="prototype">
	</bean>
	<!-- 管理员登陆 -->
	<bean name="/login_admin" class="com.smit.web.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean name="/logout_admin" class="com.smit.web.UserAction" scope="prototype">
	</bean>
	<bean name="/register_admin" class="com.smit.web.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<!-- 开发者登陆 -->
	<bean name="/loginDev" class="com.smit.web.UserAction" scope="prototype">
		<property name="pushDataService" ref="pushDataService"></property>
		<property name="userService" ref="userService"></property>
	</bean>
	<bean name="/logoutDev" class="com.smit.web.UserAction" scope="prototype">
	</bean>
	
	<bean id="pushServiceDao" class="com.smit.dao.PushServiceDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="pushManageService" class="com.smit.service.push.PushManageServiceImpl">
		<property name="pushServiceDao" ref="pushServiceDao"></property>
	</bean>
	<bean id="pushDataService" class="com.smit.service.push.PushDataServiceImpl">
		<property name="pushManageService" ref="pushManageService"></property>	
	</bean>
	<bean name="/home" class="com.smit.web.UserAction" scope="prototype">
	</bean>
	
	<!-- 推送服务 -->
	<bean name="/pushdata" class="com.smit.web.PushDataAction" scope="prototype">
		<property name="pushManageService" ref="pushManageService"></property>
	</bean>
	<bean name="/pushservicemanage" class="com.smit.web.PushServiceManage"
		scope="prototype">
		<property name="pushManage" ref="pushManageService"></property>
	</bean>

	<!-- user manager action -->
	<bean name="/listuser" class="com.smit.web.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean name="/gonewuser" class="com.smit.web.UserAction" scope="prototype">
		<property name="groupManager" ref="groupManagerService"></property>
		<property name="userService" ref="userService"></property>
	</bean>
	<bean name="/saveupdateuser" class="com.smit.web.UserAction"
		scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean name="/deleteuser" class="com.smit.web.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>

	<!-- group dao & service -->
	<bean id="groupDao" class="com.smit.dao.GroupDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="groupManagerService" class="com.smit.service.GroupMangerServiceImpl">
		<property name="groupDao" ref="groupDao"></property>
	</bean>
	<!-- group manager -->
	<bean name="/grouplist" class="com.smit.web.GroupAction" scope="prototype">
		<property name="groupManager" ref="groupManagerService"></property>
	</bean>
	<bean name="/gonewgroup" class="com.smit.web.GroupAction" scope="prototype">
		<property name="groupManager" ref="groupManagerService"></property>
		<property name="purviewService" ref="purviewService"></property>
	</bean>
	<bean name="/saveupdategroup" class="com.smit.web.GroupAction"
		scope="prototype">
		<property name="groupManager" ref="groupManagerService"></property>
	</bean>
	<bean name="/deletegroup" class="com.smit.web.GroupAction" scope="prototype">
		<property name="groupManager" ref="groupManagerService"></property>
	</bean>

	<!-- session factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>

	<!-- purview dao & service -->
	<bean id="purviewDao" class="com.smit.dao.PurviewDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="purviewService" class="com.smit.service.PurviewServiceImpl">
		<property name="purviewDao" ref="purviewDao"></property>
	</bean>

	<!-- purview manager action -->
	<bean name="/listpurview" class="com.smit.web.PurviewAction"
		scope="prototype">
		<property name="purviewService" ref="purviewService"></property>
	</bean>
	<bean name="/gonewpurview" class="com.smit.web.PurviewAction"
		scope="prototype">
		<property name="purviewService" ref="purviewService"></property>
	</bean>
	<bean name="/saveupdatepurview" class="com.smit.web.PurviewAction"
		scope="prototype">
		<property name="purviewService" ref="purviewService"></property>
	</bean>
	<bean name="/deletepurview" class="com.smit.web.PurviewAction"
		scope="prototype">
		<property name="purviewService" ref="purviewService"></property>
	</bean>


	<!-- ================================================================== -->
	<bean name="/addSysInfo" class="com.smit.web.sysinfo.SysInfoAction"
		scope="prototype">
		<property name="sysInfoService" ref="sysInfoService"></property>
	</bean>
	<bean name="/deleteSysInfo" class="com.smit.web.sysinfo.SysInfoAction"
		scope="prototype">
		<property name="sysInfoService" ref="sysInfoService"></property>
	</bean>
	<bean name="/updateSysInfo" class="com.smit.web.sysinfo.SysInfoAction"
		scope="prototype">
		<property name="sysInfoService" ref="sysInfoService"></property>
	</bean>
	<bean name="/enableSysInfo" class="com.smit.web.sysinfo.SysInfoAction"
		scope="prototype">
		<property name="sysInfoService" ref="sysInfoService"></property>
	</bean>
	<bean id="sysInfoService" class="com.smit.service.SysInfoServiceImpl">
		<property name="sysInfoDao" ref="sysInfoDao"></property>
	</bean>
	<bean id="sysInfoDao" class="com.smit.dao.SysInfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- ================================================================== -->
	<bean name="/addColumn" class="com.smit.web.column.ColumnAction"
		scope="prototype">
		<property name="columnService" ref="columnService"></property>
	</bean>
	<bean name="/deleteColumn" class="com.smit.web.column.ColumnAction"
		scope="prototype">
		<property name="columnService" ref="columnService"></property>
	</bean>
	<bean name="/updateColumn" class="com.smit.web.column.ColumnAction"
		scope="prototype">
		<property name="columnService" ref="columnService"></property>
	</bean>
	<bean id="columnService" class="com.smit.service.ColumnServiceImpl">
		<property name="columnDao" ref="columnDao"></property>
	</bean>
	<bean id="columnDao" class="com.smit.dao.ColumnDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- ================================================================== -->
	<bean name="/showLeftFrame" class="com.smit.web.FrameworkAction"
		scope="prototype">
		<property name="columnService" ref="columnService"></property>
	</bean>
	<bean name="/showRightFrame" class="com.smit.web.FrameworkAction"
		scope="prototype">
		<property name="columnService" ref="columnService"></property>
		<property name="sysInfoService" ref="sysInfoService"></property>
	</bean>
	<!-- ================================================================== -->
	<bean name="/showSysInfo" class="com.smit.web.FrameworkAction"
		scope="prototype">
		<property name="sysInfoService" ref="sysInfoService"></property>
	</bean>
	<!-- ================================================================== -->

	
    <!-- &&&add by luocheng 2011-04-26 ==================================== -->
   <bean name="/showBaseLog" class="com.smit.web.FrameworkAction">
   		<property name="sysInfoService" ref="sysInfoService"></property>
   </bean>
    <!-- &&&log file upload , add by luocheng-->
    <bean id="logDao" class="com.smit.dao.LogDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="logService" class="com.smit.service.LogServiceImpl">
    	<property name="logDao" ref="logDao"></property>
    </bean>
    <bean name="/showAddBase" class="com.smit.web.control.action.MultiFileUploadAction">
    	<property name="logService" ref="logService"></property>
    	<property name="service" ref="productControlService"></property>
    </bean>
    <bean name="/showAddDetail" class="com.smit.web.control.action.MultiFileUploadAction">
    	<property name="logService" ref="logService"></property>
    	<property name="service" ref="productControlService"></property>
    </bean>
     <bean name="/queryBase" class="com.smit.web.control.action.MultiFileUploadAction">
    	<property name="logService" ref="logService"></property>
    	<property name="service" ref="productControlService"></property>
    </bean>
    <bean name="/queryDetail" class="com.smit.web.control.action.MultiFileUploadAction">
    	<property name="logService" ref="logService"></property>
    	<property name="service" ref="productControlService"></property>
    </bean>
    <bean name="/logUpload" class="com.smit.web.control.action.MultiFileUploadAction">
    	<property name="logService" ref="logService"></property>
    	<property name="service" ref="productControlService"></property>
    </bean>
    <bean name="/detailLog" class="com.smit.web.control.action.MultiFileUploadAction">
    	<property name="logService" ref="logService"></property>
    	<property name="service" ref="productControlService"></property>
    </bean>
    <bean name="productDao" class="com.smit.dao.ProductControlImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean name="productControlService" class="com.smit.service.ProductControlServiceImpl">
    	<property name="productDao" ref="productDao"></property>
    </bean>
    <bean name="/showOrder" class="com.smit.web.control.action.OrderAction">
    	<property name="productService" ref="productControlService"></property>
    </bean>
    <bean name="/order" class="com.smit.web.control.action.OrderAction">
    	<property name="productService" ref="productControlService"></property>
    </bean>
    <bean name="/queryOrder" class="com.smit.web.control.action.OrderAction">
    	<property name="productService" ref="productControlService"></property>
    </bean>
    <bean name="/showAuth" class="com.smit.web.FrameworkAction">
    	<property name="sysInfoService" ref="sysInfoService"></property>
    </bean>
    <bean name="/testOption" class="com.smit.web.control.action.TestOptionAction">
    	<property name="service" ref="productControlService"></property>
    </bean>
    <bean name="/showOption" class="com.smit.web.control.action.TestOptionAction">
    	<property name="service" ref="productControlService"></property>
    </bean>
    <bean name="/showAddOption" class="com.smit.web.control.action.TestOptionAction">
    	<property name="service" ref="productControlService"></property>
    </bean>
    <bean name="/showDelOption" class="com.smit.web.control.action.TestOptionAction">
    	<property name="service" ref="productControlService"></property>
    </bean>
     <bean name="/queryOption" class="com.smit.web.control.action.TestOptionAction">
    	<property name="service" ref="productControlService"></property>
    </bean>
    <bean name="/loginAuth" class="com.smit.web.control.action.AuthAction">
    	<property name="productService" ref="productControlService"></property>
    </bean>
    <bean name="/reqAuth" class="com.smit.web.control.action.AuthAction">
    	<property name="productService" ref="productControlService"></property>
    </bean>
    <bean name="/active" class="com.smit.web.control.action.AuthAction">
    	<property name="productService" ref="productControlService"></property>
    </bean>
    <bean name="/product" class="com.smit.web.control.action.ProductAction">
    	<property name="productService" ref="productControlService"></property>
    </bean>
     <bean name="/confirm" class="com.smit.web.control.action.ProductAction">
    	<property name="productService" ref="productControlService"></property>
    </bean>
<!-- &&&& end of luocheng================================================================== -->
	

	
	
	<bean id="videoDao" class="com.smit.dao.VideoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="videoService" class="com.smit.service.collection.VideoServiceImpl">
		<property name="videoDao" ref="videoDao"></property>
	</bean>
	
	<bean name="/video" class="com.smit.web.webService.VideoAction"	scope="prototype">
		<property name="videoService" ref="videoService"></property>
		<property name="columnService" ref="columnService"></property>
	</bean>
	
	<bean name="/getVideoColumn" class="com.smit.web.webService.VideoAction"	scope="prototype">
		<property name="columnService" ref="columnService"></property>
	</bean>
	
	<bean id="collectVideoTask" class="com.smit.service.collection.CollectVideoTask" >
		<property name="videoService" ref="videoService"></property>		
	</bean>
	<!-- collect information in special time -->
	<!-- bean id="collection" 
 	class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject" ref="collectVideoTask" />
		<property name="targetMethod" value="youku" /> 
	</bean>
	<bean id="cronTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
 
		<property name="jobDetail" ref="collection" />
		<property name="cronExpression" value="0 0 1/5 * * ?" />
 
	</bean>
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
		   <list>
		      <ref bean="collection" />
		   </list>
		</property> 
		<property name="triggers">
		    <list>
			<ref bean="cronTrigger" />
		    </list>
		</property>
   </bean-->  
   
   <bean id="transactionManager"  
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">  
        <property name="sessionFactory">  
            <ref bean="sessionFactory" />  
        </property>  
    </bean>  
    <!-- 事务通知 -->  
    <tx:advice id="txAdvice" transaction-manager="transactionManager">  
        <tx:attributes>  
            <tx:method name="add*" propagation="REQUIRED" />  
            <tx:method name="del*" propagation="REQUIRED" />  
            <tx:method name="mod*" propagation="REQUIRED" />  
            <tx:method name="*" read-only="true" />  
        </tx:attributes>  
    </tx:advice>  

	<!-- logger -->
	<bean id="smitLog" class="com.smit.util.SmitLog"></bean>
	<bean id="purviewControl" class="com.smit.purview.PurviewControl"></bean>

	<!-- AOP -->
	<aop:config proxy-target-class="true">
		<aop:aspect id="logaop" ref="smitLog">
			<aop:pointcut id="testPointcut"
				expression="execution(* com.smit.web.UserAction.*(..))" />			
			<aop:before pointcut-ref="testPointcut" method="before" />
			<aop:after pointcut-ref="testPointcut" method="after" />
		</aop:aspect>
		<aop:aspect id="purview" ref="purviewControl">
			<aop:pointcut id="userPointcut"
				expression="execution(* com.smit.web.PushDataAction.*(..))" />
			<aop:before pointcut-ref="userPointcut" method="login"/>
		</aop:aspect>
	</aop:config>

</beans>
