<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<!-- ================================================================== -->
  <bean name="/login" class="com.smit.web.LoginAction" scope="prototype" >
  	<property name="loginService" ref="loginService"></property>
  </bean>
  <bean id="loginService" class="com.smit.service.LoginServiceImpl">
  	<property name="loginDao" ref="loginDao"></property>
  </bean>
  <bean id="loginDao" class="com.smit.dao.LoginDaoImpl">
  	<property name="sessionFactory" ref="sessionFactory"></property>
  </bean>
<!-- ================================================================== -->
  <bean name="/addSysInfo" class="com.smit.web.sysinfo.SysInfoAction" scope="prototype" >
  	<property name="sysInfoService" ref="sysInfoService"></property>
  </bean>
  <bean name="/deleteSysInfo" class="com.smit.web.sysinfo.SysInfoAction" scope="prototype" >
  	<property name="sysInfoService" ref="sysInfoService"></property>
  </bean>
  <bean name="/updateSysInfo" class="com.smit.web.sysinfo.SysInfoAction" scope="prototype" >
  	<property name="sysInfoService" ref="sysInfoService"></property>
  </bean>
  <bean name="/enableSysInfo" class="com.smit.web.sysinfo.SysInfoAction" scope="prototype" >
  	<property name="sysInfoService" ref="sysInfoService"></property>
  </bean>
  <bean id="sysInfoService" class="com.smit.service.SysInfoServiceImpl">
  	<property name="sysInfoDao" ref="sysInfoDao"></property>
  </bean>
  <bean id="sysInfoDao" class="com.smit.dao.SysInfoDaoImpl">
  	<property name="sessionFactory" ref="sessionFactory"></property>
  </bean>
<!-- ================================================================== -->
  <bean name="/addColumn" class="com.smit.web.column.ColumnAction" scope="prototype" >
  	<property name="columnService" ref="columnService"></property>
  </bean>
    <bean name="/deleteColumn" class="com.smit.web.column.ColumnAction" scope="prototype" >
  	<property name="columnService" ref="columnService"></property>
  </bean>
  <bean name="/updateColumn" class="com.smit.web.column.ColumnAction" scope="prototype" >
  	<property name="columnService" ref="columnService"></property>
  </bean>
  <bean id="columnService" class="com.smit.service.ColumnServiceImpl">
  	<property name="columnDao" ref="columnDao"></property>
  </bean>
  <bean id="columnDao" class="com.smit.dao.ColumnDaoImpl">
  	<property name="sessionFactory" ref="sessionFactory"></property>
  </bean>
 
<!-- ================================================================== -->
  <bean name="/showLeftFrame" class="com.smit.web.FrameworkAction" scope="prototype" >
  	<property name="columnService" ref="columnService"></property>
  </bean>
  <bean name="/showRightFrame" class="com.smit.web.FrameworkAction" scope="prototype" >
  	<property name="columnService" ref="columnService"></property>
  	<property name="sysInfoService" ref="sysInfoService"></property>
  </bean>
<!-- ================================================================== -->
  <bean name="/showSysInfo" 
  		class="com.smit.web.FrameworkAction"
  		scope="prototype" >
  	<property name="sysInfoService" ref="sysInfoService"></property>
  </bean>
<!-- ================================================================== -->
  <bean id="sessionFactory"
  	class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
  	<property name="configLocation"
  		value="classpath:hibernate.cfg.xml">
  	</property>
  </bean></beans>