<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  
  	<!-- welcome -->
  	<bean name="/welcome" class="com.smit.web.WelcomeAction" scope="prototype"></bean>
  	
   	<!-- SMIT login --> 
   	<bean id="userDao" class="com.smit.dao.UserDaoImpl" >
   		<property name="sessionFactory" ref="sessionFactory"></property>
   	</bean>   
   	<bean id="userService" class="com.smit.service.UserServiceImpl">
  		<property name="userDao" ref="userDao"></property>
  	</bean>
    <bean name="/login" class="com.smit.web.UserAction" scope="prototype" >
  		<property name="userService" ref="userService"></property>
    </bean>
    <bean name="/logout" class="com.smit.web.UserAction" scope="prototype" >  		
    </bean>
  	<bean name="/register" class="com.smit.web.UserAction" scope="prototype">
  		<property name="userService" ref="userService"></property>
  	</bean>
  	<bean name="/listuser" class="com.smit.web.UserAction" scope="prototype">
  		<property name="userService" ref="userService"></property>
  	</bean>
  	<bean name="/gonewuser" class="com.smit.web.UserAction" scope="prototype">
  		<property name="groupManager" ref="groupManagerService"></property>
  		<property name="userService" ref="userService"></property>
  	</bean>
  	<bean name="/saveupdateuser" class="com.smit.web.UserAction" scope="prototype">
  		<property name="userService" ref="userService"></property>
  	</bean>
  	<bean name="/deleteuser" class="com.smit.web.UserAction" scope="prototype">
  		<property name="userService" ref="userService"></property>
  	</bean>	
  	
  	<!-- group manager -->
  	<bean id="groupDao" class="com.smit.dao.GroupDaoImpl">
  		<property name="sessionFactory" ref="sessionFactory"></property>
  	</bean>
  	<bean id="groupManagerService" class="com.smit.service.GroupMangerServiceImpl">
  		<property name="groupDao" ref="groupDao"></property>
  	</bean>
  	<bean name="/grouplist" class="com.smit.web.GroupAction" scope="prototype">
  		<property name="groupManager" ref="groupManagerService"></property>
  	</bean>
  	<bean name="/gonewgroup" class="com.smit.web.GroupAction" scope="prototype">
  		<property name="groupManager" ref="groupManagerService"></property>
  	</bean>
  	<bean name="/saveupdategroup" class="com.smit.web.GroupAction" scope="prototype">
  		<property name="groupManager" ref="groupManagerService"></property>
  	</bean>
  	<bean name="/deletegroup" class="com.smit.web.GroupAction" scope="prototype">
  		<property name="groupManager" ref="groupManagerService"></property>
  	</bean>	

  	<bean id="sessionFactory"
  		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
  		<property name="configLocation"
  			value="classpath:hibernate.cfg.xml">
  		</property>
  	</bean>
  
</beans>